language: rust
rust:
  - stable
  - beta
  - nightly
os:
  - windows
  - linux
  - osx
env:
  - RUST_BACKTRACE=1
before_script:
  - rustc --version
  - cargo --version
  - sh install_rustfmt_clippy.sh
script:
  - cargo build --verbose --all
  - sh run_tests.sh
jobs:
  allow_failures:
    - rust: nightly
  fast_finish: true
